
img {
  max-width: 100%;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #030360;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}

.nav-logo img {
  max-height: 40px;
  width: auto;
  border-radius: 0%;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #888;
}


img[src$='#center'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
